{% extends "base.html" %}
{% block title %}Robogals Support - Administration{% endblock %}
{% block pagetitle %}Robogals Support - Administration{% endblock %}
{% block content %}
<div>
    <a href = "{% url 'rgsupport:home' %}">Back</a>
    <div>
        <form href="{% url 'rgsupport:admin_list' %}" method="GET">
            {% csrf_token %}
            {{ Filter_List.as_table }}
            <input type = submit value = "Filter"/>
        </form>
    </div>
    <table>
        <tr>
            <th>Request No.</th>
            <th>Name</th>
            <th>Date</th>
            <th>Enquiry Type</th>
            <th>Request Details</th>
            <th>Resolved</th>
        </tr>
        {% for query in object_list %}
        <tr>
            <td>{{query.pk}}</td>
            <td>{{query.name}}</td>
            <td>{{query.date}}</td>
            <td>{{query.enquiry_type}}</td>
            <td><a href="{% url 'rgsupport:admin_view' query.pk %}">More</a></td>
            <td>
                {% if query.resolved == False %}
                <a href = "{%url 'rgsupport:admin_resolve' query.pk %}">Resolve</a>
                {% else %}
                Resolved
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}